.header {
  position: fixed;
  width: 100%;
  max-height: 72px;

  background-color: var(--color-grayscale-10);

  z-index: var(--index-docked);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 24px 32px 12px;
  margin-inline: auto;
}
