@use '../mixins/mixins' as *;

body {
  min-height: 100dvh;

  font-family: var(--font-family-base);
  font-synthesis: none;
  color: var(--color-grayscale-100);
  text-rendering: optimizelegibility;

  background-color: var(--color-grayscale-10);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include body-16-24-regular-normal;
}

#root {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

:where(a, button, input, textarea, select, [tabindex]) {
  @include focus-visible {
    box-shadow: var(--focus-main);
  }
}

.visually-hidden {
  @include visually-hidden;
}
