.faq {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;

  width: 100%;
  padding: 25px 16px;

  @include media-query-min('laptop-s') {
    padding: 50px 16px;
  }
}

.faq__list {
  width: 100%;
  max-width: 1152px;
}
