.button {
  position: relative;

  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;
  border-radius: var(--radius-xl);

  text-align: center;
  white-space: nowrap;

  height: fit-content;

  transition:
    background-color var(--transition-fast),
    border-color var(--transition-fast),
    color var(--transition-fast);

  @include focus-visible {
    box-shadow: var(--focus-main);
  }
}

.button--full-width {
  inline-size: 100%;
}

.button:disabled,
.button[aria-disabled='true'] {
  cursor: not-allowed;
}

/* ─────────── Sizes ─────────── */

.button--m {
  @include body-16-24-medium-normal;
  min-block-size: 44px;
  padding: 11px 19px;
}

.button--s {
  @include body-14-20-medium-normal;
  min-block-size: 36px;
  padding: 3px 11px;
}

/* ─────────── Variants ─────────── */

.button--primary {
  color: var(--color-grayscale-0);
  background-color: var(--color-primary-60);

  &:not(:disabled, [aria-disabled='true']):hover {
    background-color: var(--color-primary-50);
  }

  &:not(:disabled, [aria-disabled='true']):active {
    background-color: var(--color-primary-70);
  }

  &:disabled,
  &[aria-disabled='true'] {
    color: var(--color-grayscale-30);
    background-color: var(--color-grayscale-20);
  }
}

.button--outline {
  border-color: var(--color-grayscale-30);
  color: var(--color-grayscale-100);
  background-color: var(--color-grayscale-10);

  &:not(:disabled, [aria-disabled='true']):hover {
    background-color: var(--color-grayscale-20);
  }

  &:not(:disabled, [aria-disabled='true']):active {
    background-color: var(--color-grayscale-30);
    color: var(--color-grayscale-0);
  }

  &:disabled,
  &[aria-disabled='true'] {
    border-color: var(--color-grayscale-30);
    color: var(--color-grayscale-30);
    background-color: var(--color-grayscale-20);
  }
}

.button--ghost {
  color: var(--color-grayscale-100);
  text-decoration: none;
  background-color: transparent;

  &:not(:disabled, [aria-disabled='true']):hover {
    background-color: var(--color-primary-20);
    border-color: var(--color-grayscale-100);
  }

  &:disabled,
  &[aria-disabled='true'] {
    color: var(--color-grayscale-30);
  }
}

.button--text {
  color: var(--color-grayscale-100);
  background-color: transparent;

  &:not(:disabled, [aria-disabled='true']):hover {
    color: var(--color-grayscale-0);
    background-color: var(--color-grayscale-transparent-50);
  }

  &:not(:disabled, [aria-disabled='true']):active {
    opacity: 0.8;
    color: var(--color-grayscale-0);
    background-color: var(--color-grayscale-transparent-50);
  }

  &:disabled,
  &[aria-disabled='true'] {
    color: var(--color-grayscale-50);
  }
}

/* ─────────── Loading ─────────── */

.button--loading .button__content {
  visibility: hidden;
}

.button__spinner {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;
}

.button__content {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.button__icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
