.key-benefit {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;

  width: 100%;
  padding: 25px 16px;

  @include media-query-min('laptop-s') {
    padding: 50px 16px;
  }
}

.key-benefit__intro {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  text-align: center;
}

.key-benefit__subtitle {
  @include body-17-25-regular-normal;

  max-width: 632px;
  color: var(--color-grayscale-50);
}

.key-benefit__table {
  width: 100%;
  max-width: 1048px;
}
