.table-root {
  position: relative;

  &::after {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: calc(var(--index-sticky) + 1);
    inset-block: 0;
    inset-inline-end: -1px;

    width: 96px;

    opacity: 0;
    background-image: linear-gradient(to right, transparent, var(--color-grayscale-10));

    transition: opacity var(--transition-base);
  }

  &--with-fade::after {
    opacity: 1;
  }
}

.table-root__scroll {
  overflow-x: auto;
}

.table-root__table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}
